{
  "presets": [
    ["@babel/preset-env", {
      "debug": false,
      "useBuiltIns": false
    }]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": ["@babel/plugin-transform-runtime"]
}
