.DS_Store
*.swp
.npm-packages
.npmrc
npm-debug.log
node_modules
Data
dist/
coverage/
.env
Utilities/TestResults
.idea
Documentation/.vitepress/cache/
Documentation/.vitepress/dist/
Documentation/build-tmp/
Documentation/content/
