layout: index
description: VTK.js a Visualization Toolkit for the Web
subtitle: Visualize Your Data With vtk.js
cmd: npm install kitware/vtk-js # vtk.js has not yet been released and published to npm
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://www.npmjs.com/package/vtk.js").link Releases
      p.intro-feature-desc VTK.js will be available via npm and should be used via Webpack or Browserify within your project using standard ES6 import syntax. (Release to be annouced)

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-graduation-cap
      h3.intro-feature-title
        a(href="http://www.kitware.com/products/protraining.php").link Training Courses
      p.intro-feature-desc Attend an upcoming training course

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-comments-o
      h3.intro-feature-title
        a(href="http://vtk.uservoice.com/forums/31508-general").link Request a Feature
      p.intro-feature-desc Tell us what you think
