layout: index
description: VTK.js a Visualization Toolkit for the Web
subtitle: Visualize Your Data With vtk.js
cmd: npm install @kitware/vtk.js
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://www.npmjs.com/package/vtk.js").link Releases
        img(style="padding-left: 25px",src="https://badge.fury.io/js/vtk.js.svg")
      p.intro-feature-desc VTK.js is a JavaScript library available for scientific visualization in your browser. The library is available via #[a(href="https://www.npmjs.com/package/vtk.js").link NPM] and #[a(href="https://www.npmjs.com/package/@kitware/vtk.js").link (NPM ESM)] or #[a(href="https://unpkg.com/vtk.js").link unpkg.com] CDN so it can directly be imported as a script tag inside your Web page like shown if that #[a(href="https://codepen.io/jourdain/pen/RQZWYa").link CodePen] example.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-graduation-cap
      h3.intro-feature-title
        a(href="http://www.kitware.com/products/protraining.php").link Training Courses
      p.intro-feature-desc Attend an upcoming training course

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-comments-o
      h3.intro-feature-title
        a(href="https://discourse.vtk.org/c/web/9").link Ask for a question/feature
      p.intro-feature-desc VTK/Web Discourse is here to help you find any existing discussion

div#intro-get-started-wrap
  a(href="https://blog.kitware.com/vtk-js-the-visualization-toolkit-on-the-web/", id="intro-get-started-link") Want to read more?
